div.brand{
    width: 100%;
    height: 150px;
    margin-top: 200px;
}
div.brand>div>div>div>img{
    object-fit: contain;
}
div.brand>div.brands{
    width: 90%;
    height: 150px;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}
div.cover{
    width: 100%;
    height: 260px;
    margin-top: 50px;
}
div.cover>div.cover1{
    width: 645px;
    height: 260px;
    display: inline-block;
    padding-right: 100px;
}
div.cover>div.cover2{
    width: 645px;
    height: 260px;
    display: inline-block;
    padding-right: 20px;
}
div.cover>div.cover1>img{
    width: 645px;
    height: 260px;
    border-radius: 15px;
}
div.cover>div.cover2>img{
    width: 645px;
    height: 260px;
    border-radius: 15px;
}